plugins:
- - '@semantic-release/commit-analyzer'
  - preset: conventionalcommits
  - parserOpts:
      warn: true
- - '@comrade-pingu/semantic-release'
  - changelogTitle: '# Changelog'
- '@semantic-release/npm'
- - '@semantic-release/git'
  - assets:
    - package.json
    - CHANGELOG.md
- '@semantic-release/release-notes-generator'
