plugins:
- '@semantic-release/commit-analyzer'
- - '@comrade-pingu/semantic-release'
  - changelogTitle: '# Changelog'
- '@semantic-release/npm'
- - '@semantic-release/git'
  - assets:
    - package.json
    - CHANGELOG.md
- '@semantic-release/release-notes-generator'
