<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Kill all the capitalist scum!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/25b15d92-72a4-4b54-b12d-4d93ec34df57%2Fpingu.jpg?1552799738820" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137716576-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-137716576-1');
  </script>
</head>

<body>
  The bot is online!
</body>

</html>
